@import url(reset.css);

@font-face {
  font-family: 'Exo';
  src: url('../../assets/typo/Exo/Exo-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Exo';
  src: url('../../assets/typo/Exo/Exo-Medium.ttf') format('truetype');
  font-weight: 500; /* Médio */
}

@font-face {
  font-family: 'Exo';
  src: url('../../assets/typo/Exo/Exo-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../assets/typo/Poppins/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('../../assets/typo/Poppins/Poppins-Medium.ttf') format('truetype');
  font-weight: 500; /* Médio */
}

@font-face {
  font-family: 'Poppins';
  src: url('../../assets/typo/Poppins/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
}

:root{
    --blue-100: #004E7A;
    --blue-200: #39606D;

    --gray: #C2C2C2;

    --white: #F3F3F7;
    --white_trans: #F3F3F799;

    --black: #141414;
}  

body {
  background: rgb(0,78,122);
  background: linear-gradient(180deg, rgba(0,78,122,1) 25%, rgba(0,0,0,1) 100%);
  height: 100vh;
}

h1 {
  font-size: 5.000rem;
  font-family: exo;
}


h2 {
  font-size: 3.833rem;
  font-family: exo;
}

h3 {
  font-size: 2.917rem;
  font-family: exo;
}


h4 {
  font-size: 2.250rem;
  font-family: exo;
}

h5 {
  font-size: 1.750rem;
  font-family: exo;
}

.sub {
  font-size: 1.333rem;
  font-family: poppins;
}

p {
  font-size: 1.000rem;
  font-family: poppins;
}
